@font-face {
  font-family: "Kurale-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Kurale-Regular/Kurale-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Kurale-Regular/Kurale-Regular.woff") format("woff"), url("../fonts/Kurale-Regular/Kurale-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-Semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-SemiboldItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans/OpenSans-SemiboldItalic.ttf") format("truetype"); }
