/*CSS FONTS Web~Oman*/
/*CSS FONTS END Web~Oman*/
/*CSS style Web~Oman*/
header {
  background: url(../images/header.png) no-repeat top center; }
  header .icone {
    text-align: center; }
    header .icone a {
      display: inline-block;
      margin: 20px; }
    header .icone a
i {
      color: #592884;
      border: 1px solid #592884;
      padding: 5px;
      width: 50px;
      height: 50px;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.42);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.42);
      line-height: 40px; }
      header .icone a
i:hover {
        color: #fff;
        border: 1px solid #592884;
        background: #592884; }
  header h1 {
    color: #fff;
    font-size: 72px;
    font-family: "Kurale-Regular";
    text-transform: uppercase; }
  header .h_p {
    font-family: "Kurale-Regular";
    font-size: 36px;
    color: #fff; }
  header .h_p:after {
    margin-top: 30px;
    margin-bottom: 50px;
    content: "";
    width: 60px;
    height: 4px;
    position: relative;
    display: block;
    background-color: #e0b08b; }
  header .p_header {
    color: #ffffff;
    font-size: 26px;
    font-family: "OpenSans-Regular";
    line-height: 50px; }
  header .slogan {
    color: #ffffff;
    font-size: 26px;
    font-family: "OpenSans-Semibold";
    margin-bottom: 15px; }
  header .logo {
    background: url(../images/logo.png) no-repeat top left; }
    header .logo p {
      color: #1c4b6f;
      font-size: 16px;
      font-family: "OpenSans-Bold"; }
      header .logo p span {
        text-transform: uppercase; }
        header .logo p span b {
          color: #0c2132; }
  header .sity {
    color: #000000;
    font-size: 18px;
    font-family: "OpenSans-Semibold"; }
    header .sity:hover {
      color: #592884; }
  header .phone {
    font-family: "OpenSans-Semibold";
    font-size: 20px;
    color: #1c1c1c;
    clear: both;
    display: block;
    text-decoration: none; }
    header .phone:hover {
      color: #592884; }
  header .botton_purple {
    -webkit-box-shadow: 0px 0px 22.25px 2.75px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 22.25px 2.75px rgba(0, 0, 0, 0.16);
    border: 1px solid #592884;
    height: 50px;
    width: 233px;
    text-align: center;
    line-height: 50px;
    display: block;
    cursor: pointer;
    color: #592884;
    font-size: 16px;
    font-family: "OpenSans-Semibold";
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    header .botton_purple:hover {
      border: 1px solid #592884;
      color: #fff;
      background: #592884;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
    @media only screen and (max-width: 2000px) and (min-width: 993px) {
      header .botton_purple {
        margin-left: auto; } }
    @media only screen and (max-width: 992px) and (min-width: 769px) {
      header .botton_purple {
        margin-left: auto; } }
  header .botton_form:before {
    content: "";
    width: 84px;
    height: 24px;
    position: absolute;
    display: inline-block;
    background: url(../images/arrow.png) no-repeat;
    z-index: 1;
    left: -210px;
    top: 15px; }

header {
  background: url(../images/header.png) no-repeat top center; }
  header h1 {
    color: #fff;
    font-size: 72px;
    font-family: "Kurale-Regular";
    text-transform: uppercase; }
  header .h_p {
    font-family: "Kurale-Regular";
    font-size: 36px;
    color: #fff; }
  header .h_p:after {
    margin-top: 30px;
    margin-bottom: 50px;
    content: "";
    width: 60px;
    height: 4px;
    position: relative;
    display: block;
    background-color: #e0b08b; }
  header .p_header {
    color: #ffffff;
    font-size: 26px;
    font-family: "OpenSans-Regular";
    line-height: 50px; }
  header .slogan {
    color: #ffffff;
    font-size: 26px;
    font-family: "OpenSans-Semibold";
    margin-bottom: 15px; }
  header .logo {
    background: url(../images/logo.png) no-repeat top left; }
    header .logo p {
      color: #1c4b6f;
      font-size: 16px;
      font-family: "OpenSans-Bold"; }
      header .logo p span {
        text-transform: uppercase; }
        header .logo p span b {
          color: #0c2132; }
  header .sity {
    color: #000000;
    font-size: 18px;
    font-family: "OpenSans-Semibold"; }
    header .sity:hover {
      color: #592884; }
  header .phone {
    font-family: "OpenSans-Semibold";
    font-size: 20px;
    color: #1c1c1c;
    clear: both;
    display: block;
    text-decoration: none; }
    header .phone:hover {
      color: #592884; }
  header .botton_purple {
    -webkit-box-shadow: 0px 0px 22.25px 2.75px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 22.25px 2.75px rgba(0, 0, 0, 0.16);
    border: 1px solid #592884;
    height: 50px;
    width: 233px;
    text-align: center;
    line-height: 50px;
    display: block;
    color: #592884;
    font-size: 16px;
    font-family: "OpenSans-Semibold";
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    header .botton_purple:hover {
      border: 1px solid #592884;
      color: #fff;
      background: #592884;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
    @media only screen and (max-width: 2000px) and (min-width: 993px) {
      header .botton_purple {
        margin-left: auto; } }
    @media only screen and (max-width: 992px) and (min-width: 769px) {
      header .botton_purple {
        margin-left: auto; } }
  header .botton_form:before {
    content: "";
    width: 84px;
    height: 24px;
    position: absolute;
    display: inline-block;
    background: url(../images/arrow.png) no-repeat;
    z-index: 1;
    left: -210px;
    top: 15px; }

/*CSS style  HEADER END Web~Oman*/
/* HEADER 992 Web~Oman*/
header {
  margin-bottom: 200px; }
  @media only screen and (max-width: 950px) and (min-width: 769px) {
    header {
      margin-bottom: 100px; } }

header {
  height: 890px; }
  header .logo {
    height: 65px;
    margin-top: 20px;
    padding-left: 30px;
    padding-top: 15px; }
  header .sity {
    margin-top: 50px; }
  header .phone {
    margin-top: 20px;
    margin-bottom: 5px; }
  @media only screen and (max-width: 950px) and (min-width: 769px) {
    header .botton_purple {
      margin-left: -40px !important; } }
  header h1 {
    margin-top: 230px; }
    @media only screen and (max-width: 950px) and (min-width: 769px) {
      header h1 {
        margin-top: 70px; } }
  header .form_input {
    margin-top: 60px; }

/*END HEADER 992 Web~Oman*/
@media only screen and (max-width: 768px) and (min-width: 451px) {
  /* HEADER 768 Web~Oman*/
  header {
    height: auto;
    margin-bottom: 100px;
    padding-bottom: 100px;
    background: url(../images/fon_03.png) no-repeat !important;
    background-size: cover !important; }
    header .logo {
      height: 65px;
      margin-top: 20px;
      padding-left: 30px;
      padding-top: 15px;
      margin-left: auto;
      width: 280px;
      margin-right: auto;
      text-align: left; }
    header .sity {
      display: none; }
    header .phone {
      display: none !important; }
    header .botton_purple {
      margin-left: auto;
      margin-right: auto; }
    header h1 {
      text-align: center;
      margin-top: 50px;
      font-size: 50px !important;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.41); }
    header .h_p {
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.41); }
    header .slogan, header .p_header {
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.41); }
    header .form_input {
      margin-top: 30px; }
  /*END HEADER 768 Web~Oman*/ }

@media only screen and (max-width: 540px) and (min-width: 321px) {
  /* HEADER 540 Web~Oman*/
  header {
    height: auto;
    margin-bottom: 100px;
    padding-bottom: 100px;
    background: url(../images/fon_03.png) no-repeat !important;
    background-size: cover !important; }
    header .botton_form:before {
      display: none !important; }
    header .logo {
      height: 65px;
      margin-top: 20px;
      padding-left: 30px;
      padding-top: 15px;
      margin-left: auto;
      width: 280px;
      margin-right: auto;
      text-align: left; }
    header .sity {
      display: none; }
    header .phone {
      display: none !important; }
    header .botton_purple {
      margin-left: auto;
      margin-right: auto; }
    header h1 {
      text-align: center;
      margin-top: 50px;
      font-size: 38px !important;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.41); }
    header .h_p {
      font-size: 28px !important;
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.41);
      margin-bottom: 20px; }
      header .h_p:after {
        display: none !important; }
    header .slogan, header .p_header {
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.41); }
    header .slogan {
      font-size: 20px; }
    header .p_header {
      line-height: 35px !important; }
    header .form_input {
      margin-top: 30px; }
  /*END HEADER 540 Web~Oman*/ }

@media only screen and (max-width: 320px) and (min-width: 200px) {
  /* HEADER 320 Web~Oman*/
  #section_footer .logo p span {
    font-size: 13px !important; }
  header .logo p span {
    font-size: 13px !important; }
  header {
    height: auto;
    margin-bottom: 100px;
    padding-bottom: 100px;
    background: url(../images/fon_03.png) no-repeat !important;
    background-size: cover !important; }
    header .botton_form:before {
      display: none !important; }
    header .logo {
      height: 65px;
      margin-top: 20px;
      padding-left: 30px;
      padding-top: 15px;
      margin-left: auto;
      width: 100% !important;
      margin-right: auto;
      text-align: left; }
    header .sity {
      display: none; }
    header .phone {
      display: none !important; }
    header .botton_purple {
      margin-left: auto;
      margin-right: auto; }
    header h1 {
      text-align: center;
      margin-top: 50px;
      font-size: 28px !important;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.41); }
    header .h_p {
      font-size: 28px !important;
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.41);
      margin-bottom: 20px; }
      header .h_p:after {
        display: none !important; }
    header .slogan, header .p_header {
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.41); }
    header .slogan {
      font-size: 18px !important; }
    header .p_header {
      line-height: 25px !important;
      font-size: 18px !important; }
    header .form_input {
      margin-top: 30px; }
  /*END HEADER 320 Web~Oman*/ }
